
.bio-text {
width: 100%;
min-height: 750px;
min-width: 600px;
background-color: $secondary-color;
font-size: 20rem;
line-height: 5rem;
text-align: center;

}

h2 {
  color: $secondary-color;
  text-align: center;
}