.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;
  font-size: 20rem;
  line-height: 15rem;
  
  > * {
    padding-left: 30px;
  }

  ul {
    list-style: square;
    list-style-position: inside;
  }

  p {
    width: 55%;
    min-width: 550px;
  }

   img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }
  
  a:link{
    color: $primary-color;
  }

  a:visited {
    color: lightblue;
  }
}